
.card{
    position: relative;
    display: inline-block;
}

.card img{
    
    height:120px;
    width:120px;
   
    margin: 5px 5px 5px 5px;
    border:2px solid #fff;
    border-radius: 5px;
  }

  .card .front{
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
  }
  .flipped .front {
    transform : rotateY(0deg);
    transition-delay: 0.2s;
  }

  .card .back{
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
  }

  .flipped .back {
    transform : rotateY(90deg);
    transition-delay: 0s;
  }